.form {
	display: flex;
	justify-content: space-between;
	height: 3.375rem;
	gap: 0.5rem;
	margin-top: calc(0px - 1.688rem);
}

.form input,
.form button {
	border: 0;
	border-radius: 8px;
	color: var(--gray-100);
}

.form input {
	width: 39.875rem;
	padding: 1rem;
	background: var(--gray-500);
	font-size: 1rem;
}

.form input::placeholder {
	color: var(--gray-300);
}

.form input:focus {
	outline: transparent;
	box-shadow: 0 0 0 1px var(--purple-dark);
}

.form button {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	background: var(--blue-dark);
	min-width: 5.625rem;
	font-weight: 700;
	font-size: 0.875rem;
	cursor: pointer;
	transition: background 0.1s;
}

.form button:hover {
	background: var(--blue);
}

.taskListContainer {
	margin-top: 64px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.taskListContainerHeader {
	color: var(--purple);
	display: flex;
	justify-content: space-between;
	font-size: 0.875rem;
	font-weight: 700;
}

.taskListContainerHeader span {
	color: var(--gray-100);
	background: var(--gray-400);
	padding: 0.125rem 0.5rem;
	border-radius: 999px;
}

.taskList {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

@media (max-width: 768px) {
	html {
		font-size: 87.5%;
	}
}
